<%- include('../partials/header') %>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
          <a href="/skills/<%= s.yearsExp%>"><%= s.name %></a>
            - 
          <%= s.mastery %>
        </li>
      <% }); %>
    </ul>
<%- include('../partials/footer') %>